{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="overlay"></div>
<br class="d-none d-md-block">
<div class="container mb-2 bg-white cart container-shadow">
    <div class="row">
        <div class="col">
            <h2 class="logo-font mt-4 text-center">Shopping Bag</h2>
        </div>
    </div>

    <div class="row align-items-center">
        {% if bag_items %}
        {% for item in bag_items %}
        <div class="col-12 col-md-3 text-center mt-5 mb-3">
            {% if item.product.image %}
            <img class="p-1 w-75" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
            {% else %}
            <img class="p-1 w-75" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
            {% endif %}
            <p class="my-0"><strong>{{ item.product.name }}</strong></p>
            <p class="my-0"><strong>Size: </strong>{% if item.product.has_sizes %}
                {{ item.size|upper }}{% else %}N/A{% endif %}</p>
            <p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>
        </div>

        <div class="col-4 col-md-3 text-center">
            <p class="my-0"><strong>Quantity</strong><br> €{{ item.product.price }}</p>
        </div>
        <div class="col-4 col-md-3 mt-5 text-center">
            <form class="form update-form mt-4" method="POST" action="{% url 'adjust_bag' item.item_id %}">
                {% csrf_token %}
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <button class="decrement-qty btn btn-sm btn-black border-radius-button"
                                data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                <span>
                                    <i class="fas fa-minus fa-sm"></i>
                                </span>
                            </button>
                        </div>
                        <input class="form-control form-control-sm qty_input" type="number" name="quantity" min="1"
                            max="99" value="{{ item.quantity }}" data-item_id="{{ item.item_id }}"
                            id="id_qty_{{ item.item_id }}">
                        <div class="input-group-append">
                            <button class="increment-qty btn btn-sm btn-black border-radius-button"
                                data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                <span>
                                    <i class="fas fa-plus fa-sm"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>

            <a class="update-link text-info"><small>Update </small></a> |
            <a class="remove-item text-danger " id="remove_{{ item.item_id }}"
                data-size="{{ item.size }}"><small>Remove</small></a>

        </div>
        <div class="col-4 col-md-3 text-center">
            <p class="my-0"><strong>Total:</strong><br> €{{ item.product.price | calc_subtotal:item.quantity }}</p>
        </div>
        {% endfor %}
        <div class="col text-right mt-5">
            <h6><strong>Bag Total: €{{ total|floatformat:2 }}</strong></h6>
            <h6>Delivery: €{{ delivery|floatformat:2 }}</h6>
            <h4><strong>Grand Total: €{{ grand_total|floatformat:2 }}</strong></h4>
            {% if free_delivery_delta > 0 %}
            <p class="mb-1 text-danger">
                <i>Get your delivery for free by spending just <strong>€{{ free_delivery_delta }}</strong>
                    more!</i>
            </p>
            {% endif %}
        </div>
        <br>
        <div class="col-12 text-right float-right mb-5 pb-5">
            <a href="{% url 'products' %}" class="btn btn-outline-black btn-lg border-radius-button">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Keep Shopping</span>
            </a>
            <a href="{% url 'checkout' %}" class="btn btn-black btn-lg border-radius-button">
                <span class="text-uppercase">Secure Checkout</span>
                <span class="icon">
                    <i class="fas fa-lock"></i>
                </span>
            </a>
        </div>
    </div>
    {% else %}
    <div class="col-12 text-center">
        <p class="lead mb-5">Your bag is empty.</p>
        <a href="{% url 'products' %}" class="btn btn-outline-black btn-lg border-radius-button">
            <span class="icon">
                <i class="fas fa-chevron-left"></i>
            </span>
            <span class="text-uppercase">Keep Shopping</span>
        </a>
    </div>
    {% endif %}
</div>
</div>


{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}

<script>
    // Update quantity on click
    $('.update-link').click(function (e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function (e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('product_size');
        var url = `/bag/remove/${itemId}/`;
        var data = { 'csrfmiddlewaretoken': csrfToken, 'product_size': size };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })
</script>
{% endblock %}