{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6 offset-md-3">
            <h2 class="mb-4 text-center mt-3">Product Management</h2>
            <h5 class="text-muted text-center">Add a Explore Post</h5>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6 offset-md-3">
            <!-- Add Post Form-->
            <form method="POST" action="{% url 'add_post' %}" class="form mb-2" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in post_form %}
                {% if field.name != 'image' %}
                {{ field | as_crispy_field }}
                {% else %}
                {{ field }}
                {% endif %}
                {% endfor %}
                <div class="text-right">
                    <a class="btn rounded-5 link-button" href="{% url 'view_explore' %}">Cancel</a>
                    <button class="btn border-radius-button continue-button" type="submit">Add Post</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}