{% extends "base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block page_header %}
<!-- Push Content Down Page -->
<div class="container header-container">
    <div class="row">
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-sm">
    <div class="card border-0 mb-3">
        {% if post.image %}
        <img src="{{ post.image.url }}" class="card-img-top" alt="{{ post.post_title }}>
        {% else %}
        <img src=" {{ MEDIA_URL }}noimage.png" class="card-img-top" alt="{{ post.post_title }}">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title mt-5">{{ post.post_title }}</h5>
            <p class="card-text">{{ post.post_content }}</p>
            <p class="card-text"><small class="text-muted">{{ post.post_date_posted|date:'F d, Y' }}</small></p>
            {% if request.user.is_superuser %}
            <div class="block mt-2">
                <small>
                    <a href="{% url 'edit_post' post.id %}">Edit</a>
                    <a class="text-danger ml-3" href="{% url 'delete_post' post.id %}">Delete</a>
                </small>
            </div>
            {% endif %}

        </div>
    </div>
</div>



<hr class="w-50 mb-5">
<div class="container comment-form">
    <div class="row">
        <div class="col text-center">
            <h4>Leave a Comment</h4>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3 mb-5">
            <form class="col-sm-12 mt-3" method="POST">
                {% csrf_token %}
                <fieldset class="form-group border-radius-button">
                    {{ comment_form|crispy }}
                </fieldset>
                <div class="mb-3 text-center">
                    <a class="btn btn-outline-black btn-lg border-radius-button"
                        href="{% url 'explore_detail' post.id %}">Cancel</a>
                    <button class="btn btn-lg btn-black border-radius-button" type="submit">Post Comment</button>
                </div>
            </form>
        </div>
    </div>
</div>
<hr class="w-50 mb-5">
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="text-center">
                <h4>Comments</h4>
            </div>
            <div class="product-container col-10 offset-1">
                <div class="row mt-1 mb-2">
                    <div class="col-12 col-md-6 order-md-first">
                        <p class="text-muted mt-3 text-center text-md-left">
                            <span class="small"><a href="{% url 'explore_detail' post.id %}" class="link-button">
                                    All Comments</a> | </span>
                            {{ comments|length }} Comment(s)
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        {% if not comments.all %}
        <div class="col-12 mb-5">
            <p class="text-center">No Comments in this post.</p>
        </div>
        {% else %}
        {% for comment in comments %}
        <div class="container mb-5">
            <div class="card border-radius-button">
                <div class="card-header">
                    {{ comment.comment_title }}
                </div>
                <div class="card-body">
                    <blockquote class=" mb-0">
                        <p>{{comment.comment_content}}</p>
                        <footer class="blockquote-footer"><cite title="Source Title">
                                {{ comment.comment_author }}</cite>
                            <p>
                                <small class="text-muted">{{ comment.comment_date_posted|date:'F d, Y' }}</small>
                            </p>
                            {% if comment.comment_author == user or request.user.is_superuser %}
                            <div class="block">
                                <small class="mt-2">
                                    <a href="{% url 'edit_comment' comment.id %}">Edit</a>
                                    <a class="text-danger ml-3" href="{% url 'delete_comment' comment.id %}">Delete</a>
                                </small>
                            </div>
                            {% endif %}
                        </footer>
                    </blockquote>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>

<!-- Back to Explore page button -->
<div class="sm-12 md-4 offset-md-6 text-center">
    <a href="{% url 'view_explore' %}" class="btn btn-outline-black btn-lg border-radius-button">
        <span class="icon">
            <i class="fas fa-chevron-left"></i>
        </span>
        <span class="text-uppercase">Back to Explore</span>
    </a>
</div>
<!-- Back To Top Button -->
<div class="btt-button shadow-sm border-radius-button border border-black">
    <a class="btt-link d-flex h-100">
        <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
    </a>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('.btt-link').click(function (e) {
        window.scrollTo(0, 0)
    })
</script>
{% endblock %}