@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

:root {
  --black: #2b2b2b;
}

html {
  height: 100%;
}

body {
  background: url("/media/homepage_background_cropped.jpg") no-repeat;
  background-position: bottom 40px right 100px;
  background-size: 500px 500px;
  height: calc(100vh - 164px);
  color: var(--black);
  font-family: "DM Sans", sans-serif;
}

/* from Bulma */
.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
}

.logo-font {
  text-transform: uppercase;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
}

.main-logo-link {
  width: fit-content;
}

.shop-now-button {
  background: var(--black);
  color: white;
  min-width: 260px;
  border-radius: 8px;
}

.shoes-logo {
  font-size: 190px;
}

.btn-black {
  background: var(--black);
  color: white;
  border-radius: 0 8px 8px 0;
}

.btn-outline-black {
  background: white;
  color: var(--black) !important;
  border: 1px solid black;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
  background: #222;
  color: white;
}

.text-black {
  color: var(--black) !important;
}

.border-grey {
  border: 1px solid #c9ccd5 !important;
}

.border-radius {
  border-radius: 8px 0 0 8px;
}

.border-radius-card {
  border-radius: 8px 8px 0 0;
}

.bg-black {
  background: grey !important;
}

.border-radius-button {
  border-radius: 8px;
}

.overlay {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background: white;
  z-index: -1;
}

/*  Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
  .fixed-top-desktop-only {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }

  .header-container {
    padding-top: 164px;
  }
}

.btt-button {
  height: 42px;
  width: 42px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  border-radius: 8px;
}

.btt-link {
  cursor: pointer;
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
  .header-container {
    padding-top: 116px;
  }

  body {
    height: calc(100vh - 116px);
  }
}
